
        /**
         * {{.Name}} auto generated
         * @param {Pagination} pagination
         * @param {boolean} lazy
         * {{if .RequestType}}@param {{"{"}}{{.RequestType}}{{"}"}} {{.RequestTypeName}}
         * {{end}}  {{range .MuxVars}}
         * @param {string} {{.}}{{end}}
         * {{if .UsesQueryParams }}{{range .QueryParams}}
         * @param {string} {{.}}
         * {{end}}{{end}}
         */
        {{.Name}}(lazy,{{if .RequestType}}{{.RequestTypeName}}, {{end}}{{range .MuxVars}}{{.}},{{end}}{{if .UsesQueryParams }}{{range .QueryParams}}{{.}} ,{{end}}{{end}}pagination){
            const config = {}

            if (pagination == null){
                pagination = new Pagination(null)
            }
             let params = {}
             params["items_per_page"] = pagination.ItemsPerPage
             params["page"] = pagination.ItemsPerPage{{range .QueryParams}}
             params["{{.}}"] = {{.}}{{end}}
            const headers = useRequestHeaders(['cookie'])

            const { pending, data: posts } = useFetch({{.Path}}, {
                headers,
                  lazy: lazy,
                  server: false,
                  method: "{{.MethodType}}",
                  params: params,
                  baseURL: nuxtApp.$config.public.{{.UrlEnvVarName}},
               })


            {{if .RequestType}}config.data = {{.RequestTypeName}}.serialize() {{end}} {{if .UseIterator}}
            return new {{.DataTypeName}}Iterator(pending,posts,{{.Path}},{
                                                                                     headers,
                                                                                       lazy: lazy,
                                                                                       server: false,
                                                                                       method: "{{.MethodType}}",
                                                                                       params: params,
                                                                                       baseURL: nuxtApp.$config.public.{{.UrlEnvVarName}},
                                                                                    },pagination){{else}}

           return {pending,posts}{{end}}
        }